<!doctype html>
<html>
<head>
	<body background = 	"http://www.tandemdiabetes.com/uploadedImages/Content/_Configuration/Backgrounds/background_gradient_blue.jpg?n=5" style= "background-size: cover">	
    <title>CCTL</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
		
    </style>
</head>
<body>
    <!--     navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="fa fa-home"></span> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if (isLoggedIn) { %>
                        <li><a href="/survey"><span class="fa fa-question"></span> Survey</a></li>
                        <li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
                        <li><a href="/manageconcepts"><span class="fa fa-clipboard"></span> Manage Concepts</a></li>
                    <% } else {%>
                        <li><a href="/login"><span class="fa fa-user"></span> Login</a></li>
                        <li><a href="/signup"><span class="fa fa-user"></span> Sign Up</a></li>
                    <% } %>
                </ul>
                <% if (isLoggedIn) { %>
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
	
    <div class="container">
        <div class="jumbotron text-center">         
			<a href="/"> <img src="http://s3.postimg.org/di9yi21ir/newlogo.png" alt="CCTL Logo (HOME)"  style="width:400px;height:260px;" /></a>  
        </div>
		<a style = " font-family:verdana; color :black"><span class="fa fa-bar-chart-o" style = "margin-left:300px; background-color:lightgrey"></span>This Graph displays the difficulty of arrays for each age range, and gender of those ranges</a>
    </div>
	<div class = "The Class" style = "margin-left:400px">	
	<canvas id="myChart" width="600" height="600" ></canvas>	
	</div>
	
	<script src="chart.js"></script>	
	
	<script>
	
		// Get the context of the canvas element we want to select
		var ctx = document.getElementById("myChart").getContext("2d");
		
		var data = {
    labels: ["Age Group", "Age Group", "Age Group", "Age Group", "Age Group", "Age Group", "Age Group"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(230,40,30,1)",
            strokeColor: "rgba(220,0,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]	//here actual data can be accessed
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(30,230,20,1)",
            strokeColor: "rgba(255,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]	//here actual data can be accessed
        }
    ]
};
	var myNewChart = new Chart(ctx).Bar(data, {
		yAxisLabel:"Difficulty",
		scaleGridLineColor : "rgba(0,0,0,0.05)",
		angleLineColor : "rgba(0,0,0,1)"
		
		
	});	
		
	</script>
</body>
</html>