<!doctype html>
<html>
<head>
    <title>CCTL</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css"> 
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
    <!--     navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="fa fa-home"></span> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if (isLoggedIn) { %>
                        <li><a href="/survey"><span class="fa fa-question"></span> Survey</a></li>
                        <li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
                        <li><a href="/manageconcepts"><span class="fa fa-clipboard"></span> Manage Concepts</a></li>
                    <% } else {%>
                        <li><a href="/login"><span class="fa fa-user"></span> Login</a></li>
                        <li><a href="/signup"><span class="fa fa-user"></span> Sign Up</a></li>
                    <% } %>
                </ul>
                <% if (isLoggedIn) { %>
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Results</h1>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Age Range <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <%for (var key in ranges) {%>
                    <li><a href="/results/<%=ranges[key].url%>"><%=ranges[key].name%></a></li>
                <% } %>
              </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header" align="center">
                        <h1>Ranking of Concepts</h1>
                    </div>
                </div>
            </div>
            <% var i = 0 %>
            <% while(i < concepts.length) { %>
                <div class="row">
                    <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                                <div class="well" align="center">
                                    <p>
                                        <a href="/concepts/<%= concepts[i]._id%>" class="btn btn-primary btn-lg">
                                            <%= concepts[i++].name %>
                                        </a>
                                    </p>
                                </div>
                        </div>
                    <div class="col-xs-2"></div>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/assets/jquery-2.1.3.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
</body>
</html>