<!doctype html>
<html>
<head>
    <title>CCTL - Skeleton</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>CCTL</h1>

            <a href="/login" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Signup</a>
            <a href="/results" class="btn btn-warning btn-lg"><span class="fa fa-bar-chart-o"></span> Results</a>
            <a href="/survey" class="btn btn-warning btn-lg"><span class="fa fa-question"></span> Survey</a>
        </div>
    </div>
</body>
</html>