<!doctype html>
<html>
<head>
    <title>CCTL - Skeleton</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Manage</h1>
        <a href="/" class="btn btn-warning btn-lg"><span class="fa fa-home"> Home</a>
        <a href="/survey" class="btn btn-warning btn-lg"><span class="fa fa-question"> Survey</a>
        <a href="/results" class="btn btn-warning btn-lg"><span class="fa fa-bar-chart-o"> Results</a>
        <a href="/profile" class="btn btn-warning btn-lg"><span class="fa fa-user"> Profile</a>
    </div>
    <div class="col-sm-6 col-sm-offset-3">

    <h1>Add a concept</h1>

    <form action="/addconcept" method="post">
        <div class="form-group">
            <label>Concept title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Concept description</label>
            <input type="text" class="form-control" name="description">
        </div>

        <button type="submit" class="btn btn-warning btn-lg"><span class="fa fa-plus-circle"></span> Add</button>
    </form>

    <hr>

</div>

    <table class="table">
        <tbody>
        <%var i = 0%>
        <% while(i < concepts.length) { %>
        <tr>
            <%for(var j = 0; j < 3 && i < concepts.length; j++){%>
            <td>
            <div class="well">
                <h3 align="center"> <%= concepts[i].name %></h3>
                <p align="center"><%= concepts[i].description %></p>
                <%i++%>
            </div>
            </td>
            <%}%>
        </tr>
         <% } %>
        <tbody
    </table>
   

</div>
</body>
</html>