<!doctype html>
<html>
<head>
    <title>CCTL - Skeleton</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css"> 
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
    <!--     navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="fa fa-home"></span> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/results"><span class="fa fa-bar-chart-o"></span> Results</a></li>
                    <li><a href="/profile"><span class="fa fa-user"></span> Profile</a></li>
                    <li><a href="/manageconcepts"><span class="fa fa-clipboard"></span> Manage Concepts</a></li>
                </ul>
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
                    </ul>
                </div>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <!--     body -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Choose an age range...</h1>
            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Age Range <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/survey/a">A</a></li>
                <li><a href="/survey/b">B</a></li>
              </ul>
            </div>
        </div>
    </div>
    <script src="/assets/jquery-2.1.3.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
</body>
</html>