<!doctype html>
<html>
<head>
    <title>CCTL - Skeleton</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Results</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
    </div>

    <div class="col-sm-6">
        <div class="well">
            <h3><i class="fa fa-bar-chart-o"></i> Graph</h3>

                <p>
                    <strong>__insert graph__</strong>
                </p>

        </div>
    </div>

</div>
</body>
</html>